{%extends 'base.html'%}
{%load static%}

{%block header%}
<h1>Logo Recognition</h1>
<h2>with this free easy to use online logo recognition tool. You can easily scan the your photos and find the logos of
    the brands.</h2>
{%endblock%}
{% block content %}
<section id="online_tools" class="online_tools section-bg">
    <div class="container" data-aos="fade-up">
        <div class="jumbotron shadow">
            <div>
                <form id="uploadform" method="post" action="{% url 'logo_recognition' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class='uploadform'>
                        <div id="wrapper">
                            <i class="bx bx-upload"></i><br>
                            <label for="fileUpload" class="custom-file-upload">Upload your images
                            </label>
                            <input class="inputfile" id="fileUpload" name="myFile" type="file"
                                accept="image/gif, image/jpeg, image/png, image/jiff" />
                            <br>
                            <div id="image-holder"></div>

                        </div>
                    </div>
                    <br>
                    <div class='uploadbtndiv'>
                        <button type="submit" class="btn btn-primary pull-right" value=1 id="uploadbtn"
                            name="uploadbtn">Upload</button></div>
                </form>
            </div>
        </div>
    </div>
    {%if error2%}
    <div class="alert alert-danger alert-dismissible" style="width:100%" role="alert">
        <strong>There has been error with the format of image. Please try again with different format.</strong> If you
        want to give us feedback please <a href="mailto: info@perspect-io.com">contact us.</a><button type="button"
            class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endif%}
    {%if uploaded_file_urls %}
    <form id="uploadform" method="post" action="{% url 'logo_recognition' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <section id="portfolio" class="portfolio">
            <div class="jumbotron shadow">
                <div class="container aos-init aos-animate" data-aos="fade-up">
                    <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                        style="position: relative; height: 1080.35px;">
                        <div class="portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
                            <div class="row">
                                {% for i in uploaded_file_urls%}
                                {%if nologo%}
                                <div class="alert alert-warning alert-dismissible" style="width:100%" role="alert">
                                    <strong>No logo was found! </strong>If you think there should be logo in the image
                                    <a href="mailto: info@perspect-io.com">contact us.</a><button type="button"
                                        class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {%endif%}
                                <div class="{% cycle 'show' 'd-none' 'd-none' 'd-none' 'd-none'  %}">

                                    <div class="portfolio-img"><img src="{{i}}" class="img-fluid" alt="">
                                        <div class="portfolio-info">
                                            <h4>Preview Images</h4>
                                            <a href="{{i}}" data-gall="portfolioGallery"
                                                class="venobox preview-link vbox-item"><i class="bx bx-images"></i></a>
                                            <a class="details-link" title="More Details"><i class="bx bx-crop"></i></a>

                                        </div>

                                    </div>

                                </div>
                                <br>
                                {%endfor%}

                            </div>

                        </div>

                    </div>
                    <div class='uploadbtndiv'>
                        <button type="submit" class="btn btn-primary" name="recognize" value="{{uploaded_file_urls}}"
                            id="recognize">Recognize</button>
                    </div>
                </div>

            </div>
    </form>
</section>
{%endif%}
</section>
{%endblock%}